/**************/
/* CSS REMEDY */
/**************/
*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body li {
	list-style-type: none;
}

body {
	padding-top: 4em;
	width: 100vw;
	overflow-x: hidden;
}

@media only screen and (min-width: 861px) {
body {
	padding-top: 6em;
}
}


/* SCREEN READER */
.sr-only {
	clip: rect(0 0 0 0); 
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	white-space: nowrap; 
	width: 1px;
	
	/* https://css-tricks.com/inclusively-hidden/ */
}


/*********************/
/* CUSTOM PROPERTIES */
/*********************/
:root {
	/* startje */
	--color-background: #eee;
	--main-color: #DFF3F7;
	--secondary-color: #D70D8C;
	--main-text-color: black;

	--letter-spacing: .6px;
	--line-height: 25px;

	--standard-font: 'Raleway', sans-serif;

	--thin-font-weight: 300;
	--thin-font-text-color: black;

	--heading-font-weight: 700;

	--h2-font-size: 22px;

	--regular-text-weight: 400;
	--regular-text-size: 1.125rem;
}


/****************/
/* JOUW STYLING */
/****************/

/* jouw code */

/* HEADER */

header {
	max-width: 10em;
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	height: 4em;
	position: fixed;
	top: 0;
	z-index: 9999;
	border-bottom: 3px solid lightgray;
	background-color: white;
	padding-left: 2em;
	padding-right: 2em;
}

header nav a img {
	width: 5em;
	height: auto;
}

header nav div:first-of-type {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 3em;
	height: auto;
}

header nav div:first-of-type button {
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
	color: var(--thin-font-text-color);

	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
	cursor: pointer;
	margin-top: 1em;
}

header nav div:first-of-type button img {
	width: 75%;
	height: auto;
}

header nav div:first-of-type button span {
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
	font-size: 12px;
}


/* MEDIA QUERIES OPMAAK VOOR HEADER */

header nav ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 1em;
	
	margin-right: 2em;
}

header nav ul li {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 2em;
}

header nav ul:first-of-type a {
	display: flex;
	justify-content: center;
	align-items: center;

	text-decoration: none;
	color: black;
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 16px;
}

header nav ul a:hover {
	cursor: pointer;
	color: var(--secondary-color);
	border-bottom: 2px solid var(--secondary-color);
}

header nav ul a:hover svg {
	transform: rotate(180deg);
	transition-duration: .25s;
}

header nav ul a:focus {
	color: var(--secondary-color);
}

header nav ul a svg {
	width: 1em;
	margin-left: .5em;
	transition-duration: .25s;
}

/* UITKLAP MENU */

header nav ul li:nth-of-type(1) ul {
	background-color: white;

	flex-direction: column;
	margin-top: 11.7em;
	margin-left: 1em;
	width: 10em;
	height: 10em;
	position: absolute;

	border-radius: 0px 0px 10px 10px;

	background-color: white;

	display: none;
}

header nav ul li:nth-of-type(1) button {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 16px;

	background-color: transparent;
	border: none;

	display: flex;
	text-align: center;
	align-items: center;
	gap: .5em;
}

header nav ul li:nth-of-type(1) button:hover {
	cursor: pointer;
	border-bottom: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}

header nav ul li:nth-of-type(1) button:focus {
	color: var(--secondary-color);
}

header nav ul li:nth-of-type(1) button svg {
	width: 1em;
}


header nav ul li:nth-of-type(4) ul {
	background-color: white;

	flex-direction: column;
	margin-top: 17.7em;
	margin-left: 1em;
	width: 10em;
	height: 16em;
	position: absolute;
	background-color: white;

	border-radius: 0px 0px 10px 10px;

	display: none;
}

header nav ul li:nth-of-type(4) button {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 16px;

	background-color: transparent;
	border: none;

	display: flex;
	text-align: center;
	align-items: center;
	gap: .5em;
}

header nav ul li:nth-of-type(4) button:hover {
	cursor: pointer;
	border-bottom: 2px solid var(--secondary-color);
	color: var(--secondary-color);
}

header nav ul li:nth-of-type(4) button:focus {
	color: var(--secondary-color);
}

header nav ul li:nth-of-type(4) button svg {
	width: 1em;
}


@media only screen and (min-width: 863px) {
	header nav {
		height: 6em;
	}
    header nav div:first-of-type button {
      display: none;
    }
	header nav a img {
		margin-left: 5em;
	}
  }

  @media only screen and (max-width: 862px) {
	header nav ul {
		display: none;
	}
  }


/* HEADER HAMBURGER MENU VERSCHIJNEN */

header .hamburger_menu {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 9999;
	background-color: white;
	display: none;
	overflow-y: auto;
	overflow-x: hidden;
	height: 100%;
}

body.hamburger-menu-open {
    overflow: hidden;
}


header .hamburger_menu > ul:first-of-type {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
}

header .hamburger_menu ul:first-of-type li:first-of-type img {
	margin-left: 1em;
	margin-top: 1em;
	width: 4em;
}

header .hamburger_menu ul:first-of-type li:last-of-type svg {
	color: var(--secondary-color);
	margin-right: 1em;
	margin-top: 1em;
}

header .hamburger_menu ul:first-of-type li:last-of-type button {
	background-color: transparent;
	border: none;
	margin-right: 2em;
}



/* HAMBURGER MENU OPMAAK */

header .hamburger_menu ul:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	width: 100vw;
	overflow-x: hidden;
	margin-top: 1em;
}

header .hamburger_menu ul:nth-of-type(2) li {
	width: 100%;
}

header .hamburger_menu ul:nth-of-type(2) button {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 16px;
	border: none;
	background-color: transparent;
	border-bottom: 2px solid lightgray;

	width: 100%;
	height: 5em;

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0;
	padding-left: 1em;
	margin: 0;
}

header .hamburger_menu ul:nth-of-type(2) button svg {
	color: var(--secondary-color);
	width: 1em;

	margin-right: 3em;
	transition: transform 0.2s ease;
	  
}

header .hamburger_menu ul:nth-of-type(2) > li:nth-of-type(3) a,
header .hamburger_menu ul:nth-of-type(2) > li:nth-of-type(4) a,
header .hamburger_menu ul:nth-of-type(2) > li:nth-of-type(7) a,
header .hamburger_menu ul:nth-of-type(2) > li:nth-of-type(8) a
{
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 16px;

	text-decoration: none;
	color: black;
	border-bottom: 2px solid lightgray;

	display: flex;
	align-items: center;
	
	width: 100%;
	height: 5em;
	padding-left: 1em;
}

header .activiteiten {
	display: none;

	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);

	width: 100%;
}

header .activiteiten a {
	display: block;
	text-decoration: none;
	color: black;

	width: 100%;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-left: 2em;
}

header .over_ons {
	display: none;

	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);

	width: 100%;
}

header .over_ons a {
	display: block;
	text-decoration: none;
	color: black;

	width: 100%;
	margin-top: 1em;
	margin-bottom: 1.5em;
	margin-left: 2em;
}


/* MAIN */

/* SLIDESHOW */

main div:first-of-type {
	position: relative;
	width: 100vw;
	height: 10em;
}

main div:first-of-type ul:first-of-type {
	width: 100vw;
	height: 10em;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	z-index: 10;
	gap: 15em;
}

main div:first-of-type button {
	width: 2em;
	height: auto;
	cursor: pointer;
	background-color: transparent;
	backdrop-filter: blur(50px);
	border: none;
}

main div:first-of-type figure {
	height: 10em;
}

main div:first-of-type figure img {
	width: 100%;
	height: 10em;
	object-fit: cover;
	position: absolute;
	animation: fade-in-fade-out 10s infinite running;
}

main div:first-of-type figure.animationPaused img {
	animation: fade-in-fade-out 10s infinite paused;
}

main div:first-of-type img:nth-of-type(2) {
	animation-delay: 5s;
}

@keyframes fade-in-fade-out {
	0% {
		opacity: 1;
	}

	50% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* ARTICLE */

main>article:nth-of-type(1) {
	width: 90vw;
	max-width: 60em;
	height: 13em;
	max-height: 13em;
	background-color: var(--main-color);
	border-radius: 10px;
	margin: auto;
	
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	z-index: 1;
	transform: translateY(-1em);
}

@media only screen and (min-width: 1024px) {
	main div:first-of-type figure img {
		height: 80vh;
	}
	main>article:nth-of-type(1) {
		margin-top: 25em;
		height: 12em;
	}
  }

main article:first-of-type h1 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 1.5em;
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	color: var(--main-text-color);
	width: 90%;
	margin-top: 1em;
	overflow-y: hidden;
}

main>article:first-of-type p {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	font-size: var(--regular-text-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	color: var(--main-text-color);
	width: 80%;
	margin-top: 1em;
}

/* FIRST SECTION */

main section:first-of-type {
	margin-top: 1em;
	width: 100vw;
	height: auto;
}

main section:first-of-type h2 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: var(--h2-font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	color: var(--main-text-color);
	margin-left: .5em;
}

main section:first-of-type ul {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	margin-top: 1em;
}

main section:first-of-type ul li {
	margin-bottom: 1em;
}

main section:first-of-type ul li a {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	color: var(--secondary-color);
	text-decoration: none;
	border: 2px solid var(--secondary-color);
	border-radius: 25px;
	display: block;
	text-align: center;
	width: 90vw;
	max-width: 50em;
	padding: .3em 0em .3em 0em;
}

@media only screen and (min-width: 1024px) {
	main section:first-of-type h2 {
		margin-left: 3em;
	}
	main section:nth-of-type(3) h2 {
		margin-left: 2em;
	}
	main section:nth-of-type(4) h2 {
		margin-left: 2em !important;
	}
  }
  
  @media only screen and (min-width: 769px) {
	main section:first-of-type > ul {
		display: flex;
		flex-direction: row;
		width: 100vw;
		justify-content: center;
		align-items: center;
		gap: 5em;
		padding-left: 1em;
		padding-right: 1em;
	}
	main section:first-of-type > ul li {
		width: 25%;
		max-width: 20em;
	}
	main section:first-of-type > ul li a {
		width: 100%;
		border: 2px solid var(--secondary-color);
		border-radius: 25px;
	}
	main section:first-of-type {
		margin-bottom: 3em;
	}
  }

/* SECOND SECTION */

.index main section:nth-of-type(2) {
	background-color: var(--main-color);
	width: 90vw;
	max-width: 60em;
	height: 19em;
	max-height: 19em;
	margin: auto;
	margin-top: 2em;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

main section:nth-of-type(2) h2 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: var(--h2-font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	color: var(--main-text-color);
	margin-top: 2em;
}

main section:nth-of-type(2) p {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	font-size: 1em;
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	color: var(--main-text-color);
	margin-top: 1em;
}

 .index main section:nth-of-type(2) a {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 1em;
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	background-color: var(--secondary-color);
	border-radius: 25px;
	color: white;
	text-decoration: none;
	display: block;
	width: 90%;
	max-width: 20em;
	text-align: center;
	padding: .7em 0em .7em 0em;
	margin-top: 1em;
	box-shadow: 0px 5px 10px 0px grey;
}

/* THIRD SECTION */

.index main section:nth-of-type(3) {
	margin-top: 3em;
	width: 100vw;
	height: auto;
	overflow-x: auto;

}

.index main section:nth-of-type(3) > ul:first-of-type {
	display: flex;
	justify-content: space-between;
	margin-left: 1em;
	margin-right: 1em;
}

main section:nth-of-type(3) ul:first-of-type li h2 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: var(--h2-font-size);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
}

main section:nth-of-type(3) ul:first-of-type li a {
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
	font-size: 1em;
	color: var(--secondary-color);
}

main section:nth-of-type(3) > section {
	width: 100%;
	height: fit-content;
	display: flex;
	overflow-x: scroll;
	overflow-y: hidden;
	scroll-snap-type: x mandatory;
	scroll-behavior: smooth;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

main section:nth-of-type(3) section::-webkit-scrollbar {
	display: none;
}

main section:nth-of-type(3) section article {
	background-color: #F2F2F2;
	width: 20em;
	max-width: 20em;
	height: 30em;
	border-radius: 10px;
	margin-right: 0em;
	margin-left: 1em;
	flex: 0 0 auto;
	scroll-snap-align: center;
}

@media only screen and (min-width: 1024px) {
	.index main section:nth-of-type(3) > ul:last-of-type {
		display: none !important;
	}
	main section:nth-of-type(3) > section {
		display: flex;
		justify-content: center;
		gap: 1em;

		overflow-x: hidden;
	}
  }

main section:nth-of-type(3) section article:last-of-type {
	margin-right: 1em;
}

main section:nth-of-type(3) section article a {
	text-decoration: none;
	cursor: pointer;
	height: 30em;
	width: auto;

	display: flex;
	flex-direction: column;
}

main section:nth-of-type(3) section article a img {
	width: 20em;
	height: 8em;
	border-radius: 5px 5px 0px 0px;

	order: 1;
}

main section:nth-of-type(3) section article section {
	display: flex;
	flex-direction: column;
	flex: 1;
	width: 20em;
	
	order: 2;
}

main section:nth-of-type(3) section article section h3 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 20px;
	color: var(--secondary-color);
	margin-left: .5em;
	margin-top: .5em;
	width: 95%;

}

main section:nth-of-type(3) section article section p:first-of-type {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	font-size: 16px;
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	color: black;
	width: 100%;

	margin-left: .5em;
	margin-top: 1em;
}

main section:nth-of-type(3) section article section a p {
	margin-top: 1em;
}

main section:nth-of-type(3) section article a ul {
	display: flex;
	flex-direction: row;
	height: 2em;
	align-items: center;
	width: 10em;
	margin-left: 1em;

	order: 3;
}

main section:nth-of-type(3) section article a ul li p {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-family: var(--standard-font);
	font-size: 18px;
	color: black;
	margin-left: .5em;
	width: auto;
}

main section:nth-of-type(3) > ul:last-of-type {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin-top: 1em;
	gap: 6em;
}

main section:nth-of-type(3) > ul:last-of-type li button {
	width: 2em;
	background-color: transparent;
	border: none;
	cursor: pointer;
}


/* VIERDE SECTION */

main section:nth-of-type(4) {
	margin-top: 4em;
	margin-bottom: 4em;
	width: 100vw;
	height: auto;
}

main section:nth-of-type(4) h2 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: var(--h2-font-size);
	color: black;
	margin-bottom: 1em;
	margin-left: .5em;

}

main section:nth-of-type(4) ul {
	display: grid; 
	grid-template-columns: repeat(3, 1fr); 
	grid-template-rows: repeat(2, 1fr); 
	grid-column-gap: 0px;
	grid-row-gap: 0px; 
	width: 100%;
	padding-left: .5em;
	padding-right: .5em;
}

main section:nth-of-type(4) ul li a svg {
	color: #009BB3;
	margin-bottom: 1em;
}

main section:nth-of-type(4) ul li a {
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
	font-size: 12px;

	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 8em;
	margin: 1em;
	padding: .25em;

	color: black;
	text-decoration: none;
	border-radius: 10px;
	background-color: var(--main-color);
	cursor: pointer;
}

main section:nth-of-type(4) ul li:last-of-type a {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;

	font-weight: var(--heading-font-weight);
	color: var(--secondary-color);
	letter-spacing: var(--letter-spacing);

	border: 2px solid #EF9DD1;
	background-color: transparent;
}

main section:nth-of-type(4) ul li:last-of-type a svg {
	color: var(--secondary-color);
	margin-top: 1em;
	margin-left: 1em;
}


/* FOOTER */

footer {
	background-color: #F2F2F2;
}

footer a {
	text-decoration: none;
}

footer section:first-of-type {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100vw;
	border-bottom: 2px solid lightgray;
}

footer section:first-of-type a img:first-of-type {
	width: 12em;
}

footer section:nth-of-type(2) {
	display: flex;
	flex-direction: column;
	text-align: center;
	align-items: center;
	justify-content: center;
}

footer section:nth-of-type(2) a:first-of-type {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	color: var(--secondary-color);
	line-height: var(--line-height);
	letter-spacing: var(--letter-spacing);
	font-size: 14px;
	
	margin-top: 2em;
}

footer section:nth-of-type(2) a:nth-of-type(2), footer section:nth-of-type(2) a:nth-of-type(3) {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	font-size: 14px;
	color: black;
}

footer>ul {
	display: flex;
	justify-content: center;
	align-items: center;

	gap: 4em;
	margin-top: 1.5em;
	padding-bottom: 2em;

	border-bottom: 2px solid lightgray;
}

footer ul svg {
	color: var(--secondary-color);
}

footer section:nth-of-type(3) {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

footer section:nth-of-type(3) p {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	font-size: 14px;
	color: black;

	margin-top: 1.5em;
	margin-bottom: 1em;
}

footer section:nth-of-type(3) a {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	letter-spacing: var(--letter-spacing);
	font-size: 14px;
	color: black;
}

footer section:nth-of-type(3) ul {
	display: flex;
	flex-direction: row;
	justify-content: center;

	gap: 1em;
	width: 100%;

	padding-bottom: 2em;
}

footer section:nth-of-type(3) ul li a {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	letter-spacing: var(--letter-spacing);
	font-size: 14px;
	color: black;
}


/* NEWS PAGE */

.news {
	overflow-x: hidden;
}

.news main section:nth-of-type(1) {
	display: flex;
	flex-direction: column;

	width: 100vw;
}

.news main section:nth-of-type(1) svg {
	color: var(--secondary-color);
	margin-right: 1em;
}

.news main section:nth-of-type(1) a {
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
	font-size: 16px;

	color: black;
	text-decoration: none;

	margin-left: 1em;
	width: fit-content;
}

.news main section:nth-of-type(1) h1 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 32px;

	margin-left: 1em;
	margin-top: 1em;
	color: #009BB3;
}

.news main section:nth-of-type(1) h2 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 26px;

	margin-left: 1em;
	margin-top: 1em;
	color: black;
}


/* NEWS ARTICLES */

.news main section:nth-of-type(2) {
	width: 100%;
	height: auto;
}

.news main section:nth-of-type(2) ul:first-of-type {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 10px;
	grid-auto-flow: dense;

	margin: auto;

	width: 90%;
	padding-bottom: 2em;
}

.news main section:nth-of-type(2) ul:first-of-type li {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	height: fit-content;

	margin-top: 2em;
	width: 100%;
	transition-duration: 100ms;
}

.news main section:nth-of-type(2) ul:first-of-type li:hover {
	transform: scale(1.02);
	transition-duration: 100ms;
}

.news main section:nth-of-type(2) ul:first-of-type li article {
	display: flex;
	flex-direction: column;

	width: 100%;
	height: fit-content;

	text-decoration: none;
	border: 2px solid lightgray;
	border-radius: 10px;
}


@media only screen and (min-width: 678px) {
	.news main section:nth-of-type(2) ul:first-of-type li article {
		height: 30em;
	}
  }

.news main section:nth-of-type(2) ul:first-of-type li article a {
	display: flex;
	flex-direction: column;
	text-decoration: none;

	width: 100%;
	height: 100%;
	background-color: white;
	border-radius: 10px;
}

.news main section:nth-of-type(2) ul:first-of-type li article a img {
	width: auto;
	height: auto;

	border-radius: 10px 10px 0px 0px;

	order: 1;
}

.news main section:nth-of-type(2) ul:first-of-type li article a section {
	display: flex;
	flex-grow: 1;
	flex-direction: column;
	width: 95%;

	order: 2;
	flex: 1;

	height: auto;
}

.news main section:nth-of-type(2) ul:first-of-type li article a section h3 {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 20px;

	color: var(--secondary-color);
	width: 100%;
	
	margin-top: .5em;
	margin-left: .5em;
}

.news main section:nth-of-type(2) ul:first-of-type li article a section p:first-of-type {
	font-family: var(--standard-font);
	font-weight: var(--regular-text-weight);
	letter-spacing: var(--letter-spacing);
	line-height: var(--line-height);
	font-size: 16px;

	color: black;
	margin-top: 1em;
	margin-left: .5em;
	max-width: 100%;
	/* width: 100%; */
}

.news main section:nth-of-type(2) ul:first-of-type li article a > p:last-of-type {
	font-family: var(--standard-font);
	font-weight: var(--heading-font-weight);
	font-size: 18px;

	color: black;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: .5em;

	order: 3;
}

.news main section:nth-of-type(2) ul:first-of-type li article a p:last-of-type svg {
	color: var(--secondary-color);
}


/* PAGE CONTROL */

.news main section:last-of-type ul {
	display: flex;
	justify-content: center;
	align-items: center;

	margin-top: 2em;
	margin-bottom: 2em;
	gap: 1em;
	width: 100%;
}

.news main section:last-of-type ul li a {
	text-decoration: none;
	color: black;
	font-family: var(--standard-font);
	font-weight: var(--thin-font-weight);
}

.news main section:last-of-type ul li:nth-of-type(2) a {
	color: var(--secondary-color);
	font-weight: var(--heading-font-weight);
	text-decoration: underline;
}

.news main section:last-of-type ul svg {
	color: var(--secondary-color);
}